* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fb4b58;
  padding: 5px;
}

header>* {
  font-size: 12pt;
  font-weight: 400;
}

header>img {
  margin-right: 10px;
  height: 40px;
}

.entry {
  color: #000;
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  padding: 30px;
} 

.photo {
  height: 200px;
  width: 150px;
  margin-right: 40px;
  border-radius: 5px;
} 

.details {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.location {
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marker {
  height: 12px;
  margin-right: 10px;
}

.country {
  margin-right: 16px;
  letter-spacing: .15rem;
  font-size: 12pt;
}

a.map-link, a.map-link:visited {
  color: #888;
  font-size: 10pt;
}

.title {
  font-size: 20pt;
  margin: 0;
  margin-bottom: 23px;
}

.date {
  font-size: 11pt;
}

.description {
  font-size: 10pt;
}