* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fb4b58;
  padding: 5px;
  color: #fff;
}

header h1 {
  font-size: 1.25rem;
  font-weight: 400;
}

#home-button {
  position: absolute;
  left: 10px
}

#home {
  height: 38px; 
  opacity: 0.1;
}

#logo {
  margin-right: 10px;
  height: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .spinleft {
    animation: spinleft infinite 20s linear;
  }
}

@keyframes spinleft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .spinright{
    animation: spinright infinite 20s linear;
  }
}

@keyframes spinright{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.entry {
  color: #364357;
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px auto;
  width: calc(100% - 40px);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  padding: 30px;
} 

.photo {
  width: clamp(120px, 15%, 300px);
  border-radius: 5px;
  flex-shrink: 0;
  object-fit: cover;
} 

.details {
  margin: 0;
  flex: 1;
}

.location {
  margin-bottom: 15px;
}

.marker {
  height: 12px;
  margin-right: 10px;
}

.country {
  margin-right: 16px;
  letter-spacing: .15rem;
  font-size: 1rem;
  text-transform: uppercase;
} 

.map-link {
  color: #888;
  font-size: 0.8rem;
} 

.title {
  font-size: 1.7rem;
  margin: 0 0 23px 0;
  color: #2d2521;
}  

.date {
  font-size: 0.9rem;
}  

.description {
  font-size: 0.8rem;
}  

@media (max-width: 600px) {
  .entry {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  .photo {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
  }
  .title {
    font-size: 1.5rem;
  }
}